$colorBodyBg: #eee
$colorLabelsFormBg: #d8d8dd

body
  background: $colorBodyBg

.cases
  .subject .columns
    height: 4em
  .row .case
    border: 1em solid $colorBodyBg

.labels
  &.form .columns
    background: $colorLabelsFormBg

#header
  padding: 1em 
  a
    margin: 1em
