$colorBodyBg: #eee

body
  background: $colorBodyBg

h1
  padding: 0.6em
  font-size: 113%
  font-weight: bold

h2
  padding:
    top: 0.3em
  font-weight: bold

.case
  margin-bottom: 1em

.labels
  li
    padding:
      bottom: 0.5em
  span.delete
    padding: 2px

#header
  padding: 1em
    
  a
    margin: 1em
